---
layout: home
title: DataGen Demo
---


<div class="name-container">
    {% for person in site.data.members %}
    <div class="name-box">
        <div class="card">
            <div class="image-card">
                {% if person.img_url %}
                <a href="{{ person.full_name | datapage_url: 'people' }}"><img src="{{ person.img_url }}" alt="Image"
                        width="75%"></a>

                {% else %}

                {% endif %}
            </div>
            <div class="name-card">
                <a href="{{ person.full_name | datapage_url: 'people' }}">{{person.full_name}}</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>